@import 'menu';

//Modificacion colores primario y secundario
$primary: #5265E1;
$secondary: #FA5959;
$nav-link-color: #8c8c8c;
$nav-link-hover-color: #000;
$secondary-dark: #fe3b3b;
$colorhoverbtn: $secondary-dark;


//Modificacion colores acordeon
$accordion-button-active-bg: #fff;
$accordion-button-active-color: #000;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-icon: url("../imagenes/icon-arrow.svg");
$accordion-button-active-icon: url("../imagenes/icon-arrow-active.svg");


*{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Rubik', sans-serif;
}

body{
    overflow-x: hidden;
}

p{
    color: grey;
    font-size: 1.2rem;
}


.navbar-collapse {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btn-secondary{
    width: 8em;
}

.pill-right{
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 80%;
    top: 25%;
    left: 20%;
}

.pill-left{
    position: absolute;
    z-index: -1;
    width: 200%;
    height: 100%;
    top: 25%;
    left: -120%;
}

.nav-tabs .nav-item .nav-link.active {
	border-bottom: 4px solid $secondary;
}

.downloads{
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
}

.cards{
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.card-img-top{
    padding: 2rem;
}

.btn-secondary:hover {
    background-color: $secondary-dark !important;
}


//Responsive NavBar para Móviles y Tablets
@media (max-width: 991px){
    $navbar-light-active-color: #fff !important;
    $color1: #3e4bbb;
    $color2: #2131c0;
    
    
    .navbar-collapse {
        width: 100%;
        background-color: $primary;
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link.active {
        color: $navbar-light-active-color;
    }

    .btn-secondary {
        background-color: $color1;
        margin-top: .5rem;
    }

    .nav-item:hover{
        background-color: $color2;
    }

    .nav-item::after{
        display: block;
        height: 1px;
        background-color: #fff;
        content: "";
        width: 100%;
    }

    .downloads{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .cards{
        display: flex;
        flex-direction: column;
        // padding: 0;
        margin-right: 0;
    }

    .rrss{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rrss img{
        margin: 0.5rem 0;
        width: 2em;
        
    }
    
}
   

//Importacion Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss'



